/* body{
    background-color: #f2f2f2;
    

} */

.form{
    background-color: #ffffff;
    padding-left: 25px;
    padding-right:25px;
    padding-bottom: 25px;
    padding-top: 15px ;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}


#logo {
    background-image: none;
    background-color: #99cc00;
}

.app_table{
    background-color: #ffffff;
    text-align: center;
    border-collapse: collapse;
   column-width: 50%;
   max-width: 100%;
   border-radius: 10px;
   border: 2px solid rgba(255,255,255,0.1);
   box-shadow: 0 0 40px rgba(8,7,16,0.6);
   
}

.app_table th{
    background-color: #99cc00 ;
}


.app_table td,th{
    border: 1px solid black;
    padding: 8px;
}

.app_table tr:nth-child(even){
    background-color: #f2f2f2;
}

.app_table tr:hover {
    background-color: #ddd;
}

input[type=submit] {
    background-color: #669900;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   
  }
  
  input[type=submit]:hover {
    background-color: #99cc00;
    color: black;
  }
